<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/jumbotron-narrow.css">
    {% if title %}
    <title>{{ title }} - ImageProcessor</title>
    {% else %}
    <title>ImageProcessor</title>
    {% endif %}
  </head>
  <body>
    <div>
      ImageProcessor:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>